#pad div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
#pad div:not(#display):hover {
  cursor: pointer;
  opacity: 0.8;
}
#pad {
  margin-top: 100px;
  margin-bottom: 5px;
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px 80px 80px;
}

#clear {
  grid-column: 1 / span 2;
  background-color: lightcoral;
  color: white;
}
#zero {
  grid-column: 1 / span 3;
}

.operation {
  background-color: gray;
  color: white;
}
.number {
  background-color: #1f1e1e;
  color: white;
}
#display {
  grid-column: 1 / span 4;
  background-color: black;
  color: white;
}
